@import "../../helpers/Helpers.module.scss";

.newssection {
  @include section;
  color: $greycolor2;
  h3 {
    @include title2;
  }
  .figuresection {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vw;
    margin: auto;
    figure {
      margin: 1vw;
      img {
        border-radius: 50%;
        max-width: 20vw;
        margin: 3vh;
      }
      figcaption {
        h4 {
          font-size: 1.5vw;
          padding: 2vh;
        }
        p {
          font-size: 1.2vw;
        }
      }
    }
  }
}
