@import "../../helpers/Helpers.module.scss";

.newssection {
  @include section;
  color: $greycolor2;
  h3 {
    @include title2;
  }
  .figuresection {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
    figure {
      margin: 1vw;
      img {
        border-radius: 50%;
        width: 100%;
        height: auto;
        margin: 3vh;
      }
      figcaption {
        h4 {
          font-size: 1.5vw;
          padding: 2vh;
        }
        p {
          font-size: 1.2vw;
        }
      }
    }
  }
}
