@import "../../helpers/Helpers.module.scss";

footer {
  width: 100%;
  position: relative;
  background-color: $greycolor1;
  text-align: center;
  min-height: 25vh;
  padding-top: 2vh;
  margin-top: 8vh;
  bottom: 0;
  h3 {
    @include title2;
    color: white;
    margin-top: -1%;
  }
  p {
    color: lightgrey;
    max-width: 500px;
    margin: auto;
    font-size: 1.3vh;
  }
  .colorpatch {
    width: 100%;
    background-color: $greycolor2;
    position: absolute;
    bottom: 0;
    p {
      color: lightgrey;
      margin: 2vh auto 2vh auto;
      font-size: 1.3vh;
    }
  }
  img {
    width: 3%;
    background-color: lightgray;
    border-radius: 50%;
    transform: rotate(270deg);
    margin: auto;
    display: block;
    margin-top: -2%;
    padding: 0.5vh;
  }
}
