.navbar {
  max-width: 100%;
  text-align: center;
  //background-color: rgb(66, 65, 65);   forslag!
  padding: 2vh;
  ul.navlist {
    list-style: none;
    font-size: 3vh;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      &:nth-child(3) {
        a {
          font-family: "Lobster", cursive;
          font-size: 3vw;
        }
      }
      a {
        text-decoration: none;
        padding: 1em;
        color: white;
        font-size: 2vh;
      }
    }
  }
}

//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;

@media screen and (min-width: $x-large) {
  .navbar {
    background-color: blue;
  }
}
@media screen and (max-width: $large) {
  .navbar {
    background-color: red;
  }
}
@media screen and (max-width: $tablet) {
  .navbar {
    text-align: unset;
    ul.navlist {
      li {
        a {
          padding: 0.5em;
        }
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  .navbar {
    background-color: green;
    height: 9vh;
    ul.navlist {
      li {
        display: none;
      }
    }
  }
}
