@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap"); //import Lobster font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"); //open sans
// font-family: 'Lobster', cursive;
// font-family: 'Open Sans', sans-serif;

//TO ASK
//search icon- icons
//slider og prekker

//common styles for the page
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
