.headersection {
  width: 100%;
  height: 300vh;
}
div.search {
  position: absolute;
  top: 2.5%;
  right: 6%;
  z-index: 5;
  input {
    padding: 0.5vh;
  }
}
//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;

@media screen and (min-width: $x-large) {
  .navbar {
    background-color: blue;
  }
}
@media screen and (max-width: $large) {
  .navbar {
    background-color: red;
  }
}
@media screen and (max-width: $tablet) {
  .navbar {
    background-color: yellow;
  }
}
@media screen and (max-width: $mobile) {
  div.search {
    top: 2%;
    input {
      padding: 0.2vh;
    }
  }
}
